/*******************     STORIES     */

.odd-s {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.stories-text {
  text-align: center;
}

.main .draw-line {
  width: 100%;
  display: block;
  margin: auto;
}
