.new-sentence{
    height: 54px;
    width: 95%;
    padding: 10px;
    border: 1px solid #2b2a2f;
    background-color: #cfb3d6;
    outline: none;
    resize: none;
    text-align: left;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 600;  
}
